$color-light: #fff;
$color-dark: #001629;
$color-bule: #1da1f2;
$color-purple: #563493;
$color-yellow: #cf8b18;
$color-orange: #be4118;
$color-pink: #ac1a41;
$color-green: #128f45;

:export {
  light: #fff;
  // dark:$color-dark,
  // blue:$color-blue,
  // purple:$color-purple,
  // yellow:$color-yellow,
  // orange:$color-orange,
  // pink:$color-pink,
  // green:$color-green,
}
