@use "sass:list";
@import '../common/mixin';

$rotate-deg: 215deg;
$hover-rotate-deg: 225deg;

@mixin arrow-transform($deg, $origin: 0) {
  transform: rotate($deg);
  transform-origin: $origin;
}

.home_wrapper {
  :global {
    .row-content {
      margin-left: 25px;
    }
  }
  .header_wrapper {
    > div {
      position: fixed;
      width: calc(100% - 300px);
    }
  }
}

.header_wrapper {
  :global {
    $banner-background-list: (from, 25%, 50%, 75%, to);
    .banner {
      display: table;
    }
    .banner-content {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      // @include animation-effect() using ($name) {
      //   @if ($name) {
      //     animation: $name 15s linear infinite;
      //   } @else {
      //     @include each-content($banner-background-list) using ($rest...) {
      //       $key: list.nth($rest, 1);
      //       $index: list.index($banner-background-list, $key);
      //       #{$key} {
      //         @if ($index > 3) {
      //           color: var(--color-primary);
      //         } @else {
      //           color: var(--color-white);
      //         }
      //       }
      //     }
      //   }
      // }
    }
    .banner-background {
      @include animation-effect() using ($name) {
        @if ($name) {
          animation: $name 20s linear infinite;
          background-color: var(--color-primary);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        } @else {
          @include each-content($banner-background-list) using ($rest...) {
            $key: list.nth($rest, 1);
            $index: list.index($banner-background-list, $key);
            #{$key} {
              background-image: url('/static/banner/bg-#{$index}.png');
            }
          }
        }
      }
    }

    %arrow-line {
      &::after,
      &::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 4px;
        background-color: var(--color-white);
        border-radius: 5px;
        transition: 0.5s;
      }
    }
    .btn-down {
      bottom: 46px;
      width: 56px;
      border: none;
      background-color: var(--color-transparent);
      @extend %arrow-line;
      span {
        @extend %arrow-line;
        &::after {
          @include arrow-transform(-$rotate-deg, 12px -2px);
        }
        &::before {
          @include arrow-transform($rotate-deg, -10px 14px);
        }
      }
      &::after {
        @include arrow-transform(-$rotate-deg, 2px -14px);
      }
      &::before {
        @include arrow-transform($rotate-deg);
      }
      @include animation-effect() using ($name) {
        @if ($name) {
          animation: $name 1s infinite alternate;
        } @else {
          0% {
            transform: translateY(5px);
          }
          50% {
            transform: translateY(0px);
          }
          100% {
            transform: translateY(-5px);
          }
        }
      }
      &:hover {
        animation-play-state: paused;
        &::after {
          @include arrow-transform(-$hover-rotate-deg, 3px -17px);
        }
        &::before {
          @include arrow-transform($hover-rotate-deg);
        }
        span {
          &::after {
            @include arrow-transform(-$hover-rotate-deg, 12px -5px);
          }
          &::before {
            @include arrow-transform($hover-rotate-deg, -10px 14px);
          }
        }
      }
    }

    h2,
    h3 {
      display: inline-block;
      &:hover {
        span {
          animation-fill-mode: backwards;
          animation-play-state: paused;
        }
      }
    }
    .beat {
      @include animation-effect() using ($name) {
        @if ($name) {
          animation: $name 1.5s infinite ease;
          display: inline-block;
        } @else {
          0% {
            transform: translateY(5px);
          }
          25% {
            transform: translateY(10px);
          }
          50% {
            transform: translateY(0);
          }
          75% {
            transform: translateY(-10px);
          }
          100% {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

.work_list {
  :global {
    li {
      border-left: 5px solid var(--color-default-gray);
      padding-left: 15px;
    }
    a:hover {
      .tipso {
        display: block;
        @include animation-effect() using ($name) {
          @if ($name) {
            animation: $name 0.5s ease-in;
          } @else {
            from {
              transform: translateY(-15px);
            }
            to {
              transform: translateY(0);
            }
          }
        }
      }
    }
    .tipso {
      display: none;
      top: -55px;
      left: 0;
      right: 0;
      width: 90px;
      height: 42px;
      margin: auto;
      line-height: 42px;
      border-radius: 6px;
      > div::after {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -16px;
        width: 0;
        content: '';
        display: inline-block;
        border: {
          style: solid;
          width: 8px;
          color: var(--color-primary) transparent transparent transparent;
        }
      }
    }
  }
}
@media (min-width: 960px) {
  .work_list {
    :global {
      li {
        @include clearfix();
        border-left: none;
        padding-left: 0;
        > div {
          width: 50%;
        }
        &:nth-child(even) {
          > div {
            float: left;
            border-right: 5px solid var(--color-default-gray);
          }
          .logo {
            margin-right: -80px;
            float: right;
          }
          .content {
            float: right;
            text-align: right;
            padding-right: 5%;
          }
        }
        &:nth-child(odd) {
          margin-left: -10px;
          > div {
            float: right;
            border-left: 5px solid var(--color-default-gray);
          }
          .logo {
            margin-left: -80px;
            float: left;
          }
          .content {
            padding-left: 5%;
          }
        }
      }
      .content {
        width: 70%;
      }
      time {
        display: none;
      }
    }
  }
}

@include media-md() {
  .home_wrapper .header_wrapper {
    > div {
      width: 100%;
    }
    :global {
      .btn-down {
        bottom: 90px;
      }
    }
  }
}
