@import '../common/mixin';
.footer {
  border-top: 1px solid var(--color-lighten-gray);
}
.side_fixed_operate {
  bottom: 5%;
  right: 10px;
  :global {
    li {
      position: relative;
      text-align: center;
      background-color: var(--color-primary);
      margin-bottom: 2px;
      cursor: pointer;
    }
    li:not(:first-child),
    li a {
      display: table;
      @include equal-wh(50);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-lighten-gray);
        .operate-text {
          transform: rotateY(0);
          transition: 1s;
          opacity: 1;
        }
      }
    }
    .operate-icon {
      display: table-cell;
      vertical-align: middle;
    }
    .operate-text {
      position: absolute;
      bottom: 0;
      right: 56px;
      width: 96px;
      opacity: 0;
      background-color: var(--color-lighten-gray);
      transform: rotateY(90deg);
      transform-origin: 100%;
      &:not(.qr-code) {
        line-height: 3.6;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 19px;
        right: -12px;
        border: {
          style: solid;
          width: 6px;
          color: transparent transparent transparent var(--color-lighten-gray);
        }
      }
    }
    .qr-code {
      padding: 5px 5px 0;
      img {
        @include equal-wh(86);
      }
      em {
        line-height: 2.7;
        font-style: initial;
      }
    }
  }
}
