//ref:https://github.com/ConnorAtherton/loaders.css

$primary-color: var(--color-primary) !default;
$margin: 2px !default;
$line-height: 25px !default;
$line-width: 4px !default;

@mixin global-bg() {
  background-color: $primary-color;
}

@mixin global-animation() {
  animation-fill-mode: both;
}

@mixin lines() {
  @include global-bg();

  width: $line-width;
  height: $line-height;
  border-radius: 2px;
  margin: $margin;
}

@function delay($interval, $count, $index) {
  @return ($index * $interval) - ($interval * $count);
}

@keyframes line-scale {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}

@mixin line-scale($n: 5) {
  @for $i from 1 through $n {
    > div:nth-child(#{$i}) {
      animation: line-scale
        1s
        delay(0.1s, $n, $i)
        infinite
        cubic-bezier(0.2, 0.68, 0.18, 1.08);
    }
  }
}

.line-scale {
  @include line-scale();

  > div {
    @include lines();
    @include global-animation();

    display: inline-block;
  }
}
