@import '~@node_modules/normalize.css';

*,
:after,
:before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Niconne-Regular';
  src: url('~@fonts/font-niconne/Niconne-Regular.eot'),
    url('~@fonts/font-niconne/Niconne-Regular.svg'),
    url('~@fonts/font-niconne/Niconne-Regular.ttf'),
    url('~@fonts/font-niconne/Niconne-Regular.woff');
}

body {
  font: lighter 14px/1.5 'Helvetica Neue', 'Helvetica', 'HanHei SC',
    'PingFang SC', 'STHeitiSC-Light', 'Arial', 'Microsoft Yahei', sans-serif;
  background-color: var(--color-light-gray);
  color: var(--color-default-gray);
}

html,
body,
#__next {
  height: 100%;
}

ul,
li {
  list-style: none;
  @extend .r-m-p;
}
dl,
dd {
  @extend .r-m-p;
}

i[class^='icon'] {
  display: inline-block;
  vertical-align: middle;
}

button {
  padding: 0;
  cursor: pointer;
}
button,
[type='button'] {
  -webkit-appearance: button;
}

a {
  text-decoration: none;
  color: var(--color-default-gray);
  &:hover {
    color: var(--color-primary);
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.font-family-niconne {
  font-family: 'Niconne-Regular';
}

.font-family-georgia {
  font-family: 'Georgia';
}

.rc-dialog {
  position: relative;
  top: 50%;
  width: auto;
  margin: 0 auto;
  pointer-events: none;
  transform: translateY(-50%);
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }
  &-mask-hidden {
    display: none;
  }
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
  }
  &-content {
    position: relative;
    background-color: var(--color-white);
    background-clip: padding-box;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
    overflow: hidden;
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-transparent);
    border: none;
    &:hover {
      transform: rotate(360deg);
      transition: 1.2s;
      transform-origin: 50%;
    }
  }
}

.hot {
  em {
    position: absolute;
    right: -12px;
    border: 4px solid var(--color-highlight);
    background-color: var(--color-highlight);
    border-radius: 50%;
  }
}

.switch {
  $height: 18px;
  position: relative;
  min-width: 45px;
  background-color: var(--color-lighten-gray);
  border-radius: 50px;
  height: 22px;
  .round {
    position: absolute;
    top: 2px;
    left: 2px;
    @include equal-wh($height);
    transition: 0.4s;
    &::after {
      content: '';
      display: block;
      height: $height;
      border-radius: 50px;
      background-color: var(--color-white);
    }
  }
  .content {
    color: var(--color-white);
    margin: 0 5px 0 24px;
    transition: 0.4s;
  }
  &.checked {
    background-color: var(--color-primary);
    .round {
      left: calc(100% - 2px - 18px);
    }
    .content {
      color: var(--color-white);
      margin: 0 24px 0 5px;
    }
  }
}
