@import '../common/mixin';

:root {
  --size-xxs: 10px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 24px;
  --size-xxl: 30px;

  --space-xxs: 5px;
  --space-xs: 6px;
  --space-sm: 8px;
  --space-md: 10px;
  --space-lg: 12px;
  --space-xl: 14px;
  --space-xxl: 16px;

  --color-primary: #639;
  --color-black: #000;
  --color-white: #fff;
  --color-transparent: transparent;
  --color-light-gray: #f9f9f9;
  --color-lighten-gray: #dadada;
  --color-default-gray: #aaa;
  --color-dark-gray: #888;
  --color-highlight: red;
}
@media (prefers-color-scheme: dark) {
}
